{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

{{posts}}

<!--- recorrer a crear una lista-->
<!--for que recorre las listas en este caso, recorre el posts en python-->
{% for post in posts%}
    <div>
        <p>publicado {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <!---linebreaksbr: son saltos de lineas-->
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

{% endfor %}